body {
  margin: 0;
}

#display {
  background-color: lightgrey;
  display: grid;
  grid-template-columns: .5% 33% 33% 33% .5%;
  grid-template-rows: .5% 33% 33% 33% .5%;
}

.even-game {
  background-color: #EEEEEE;
}

.game {
  border-radius: 10px;
  margin: 0.3vh 0.2vw;
}

.odd-game {
  background-color: #BBBBBB;
}

#container-1 {
  grid-column-start: 2;
  grid-row-start: 2;
}

#container-2 {
  grid-column-start: 3;
  grid-row-start: 2;
}

#container-3 {
  grid-column-start: 4;
  grid-row-start: 2;
}

#container-4 {
  grid-column-start: 2;
  grid-row-start: 3;
}

#container-5 {
  grid-column-start: 3;
  grid-row-start: 3;
}

#container-6 {
  grid-column-start: 4;
  grid-row-start: 3;
}

#container-7 {
  grid-column-start: 2;
  grid-row-start: 4;
}

#container-8 {
  grid-column-start: 3;
  grid-row-start: 4;
}

#container-9 {
  grid-column-start: 4;
  grid-row-start: 4;
}

#root-container {
  display: grid;
  grid-template-columns: 10vw 90vw;
  height: 100vh;
}

#sidebar {
  background-color: rgb(233, 30, 30);
}
