body {
  margin: 0;
}

h3 {
  margin: 0;
}

tbody {
  overflow: hidden;
}

.even-game {
  background-color: #EEEEEE;
}

.game {
  border: 3px outset rgb(170, 170, 170);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  margin: 0.3vh 0.2vw;
}

.game:hover {
  border-style: inset;
}

.game-body {
  display: grid;
  grid-template-columns: 36% 28% 36%;
}

.game-info {
  align-items: center;
  display: flex;
  justify-content: center;
}

.game-info p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 0;
}

.odd-game {
  background-color: #CCCCCC;
}

.score {
  align-items: center;
  display: flex;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-family: 'Arvo', serif;
  font-size: 3.3em;
  justify-content: center;
}

.team-logo {
  align-self: center;
  height: 70%;
  justify-self: center;
  width: 90%;
}

#augsburg {
  width: 70%
}

#bremen {
  height: 80%;
  width: 70%;
}

#bundesliga-logo {
  padding-top: 2vh;
  width: 100%;
}

#container-1 {
  grid-column-start: 2;
  grid-row-start: 2;
}

#container-2 {
  grid-column-start: 3;
  grid-row-start: 2;
}

#container-3 {
  grid-column-start: 4;
  grid-row-start: 2;
}

#container-4 {
  grid-column-start: 2;
  grid-row-start: 3;
}

#container-5 {
  grid-column-start: 3;
  grid-row-start: 3;
}

#container-6 {
  grid-column-start: 4;
  grid-row-start: 3;
}

#container-7 {
  grid-column-start: 2;
  grid-row-start: 4;
}

#container-8 {
  grid-column-start: 3;
  grid-row-start: 4;
}

#container-9 {
  grid-column-start: 4;
  grid-row-start: 4;
}

#display {
  background-color: lightgrey;
  display: grid;
  grid-template-columns: .5% 33% 33% 33% .5%;
  grid-template-rows: .5% 33% 33% 33% .5%;
  padding: 0.5vh 0.5vw;
}

#freiburg {
  height: 90%;
  width: 80%;
}

#gladbach {
  height: 80%;
  width: 70%;
}

#hoffenheim {
  width: 80%;
}

#leverkusen {
  height: 60%;
  width: 100%;
}

#rb-leipzig {
  height: 55%;
  width: 100%;
}

#root-container {
  display: grid;
  grid-template-columns: 15vw 85vw;
  height: 100vh;
}

#sidebar {
  background-color: rgba(216, 20, 20, 0.808);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

#sidebar > div {
  height: auto;
  text-align: center;
}

#stuttgart {
  width: 70%;
}

#table {
  height: auto;
}

#table tr {
  border-bottom: 1px solid grey;
  font-size: 0.8em;
}
