body {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

button {
  align-self: end;
  background-image: url('./soccerball.png');
  border-radius: 40px;
  height: 5vh;
  justify-self: center;
  width: 5vh;
}

button:focus {
  outline: none;
}

button:hover {
  border: 1px solid red;
  box-shadow: 0px 0px 20px white;
}

select {
  background-color: #d1ccdc;
  border: 1px outset grey;
  color: black;
  height: 2.5vh;
  margin: 0 auto;
}

select:focus {
  outline: none;
}

table {
  background-color: #a5abc4;
  border-top: 2px solid black;
  margin: 0 auto;
  width: 100%;
}

table tr {
  font-size: 1.4em;
}

td {
  text-align: center;
  vertical-align: center;
}

td:nth-child(2) {
  display: flex;
}

.champions-league {
  color: green;
  text-shadow: 1px 1px lightgreen;
}

.europa-league {
  color: blue;
  text-shadow: 1px 1px turquoise;
}

.even-game {
  background-color: #eeeeee;
}

.game {
  border: 3px outset rgb(170, 170, 170);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 11% 78% 11%;
  margin: 0.3vh 0.2vw;
}

.game:hover {
  border: 3px inset red;
  transition: all 1s;
}

.game-body {
  display: grid;
  grid-template-columns: 36% 28% 36%;
}

.game-info {
  align-items: center;
  display: flex;
  justify-content: center;
}

.game-info p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 0;
}

.odd-game {
  background-color: #bebebe;
}

.relegation {
  color: red;
  text-shadow: 1px 1px rgb(163, 0, 0);
}

.relegation-playoff {
  color: salmon;
  text-shadow: 1px 1px rgb(39, 39, 39);
}

.score {
  align-items: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  font-family: 'Germania One', serif;
  font-size: 4.75em;
  justify-content: center;
  text-shadow: 1px 1px rgb(255, 52, 52);
}

.table-logo {
  height: 3.4vh;
  width: 60%;
}

.table-team:hover {
  color: white;
  text-shadow: 1px 1px black;
}

.team-info {
  display: grid;
  grid-template-rows: 90% 10%;
}

.team-logo {
  align-self: center;
  height: 70%;
  justify-self: center;
  width: 90%;
}

.team-name {
  align-self: center;
  font-family: 'Overlock', cursive;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

#augsburg {
  width: 70%;
}

#bremen {
  height: 70%;
  width: 60%;
}

#bundesliga-logo {
  flex: 3;
  width: 100%;
}

#container-1 {
  grid-column-start: 2;
  grid-row-start: 2;
}

#container-2 {
  grid-column-start: 3;
  grid-row-start: 2;
}

#container-3 {
  grid-column-start: 4;
  grid-row-start: 2;
}

#container-4 {
  grid-column-start: 2;
  grid-row-start: 3;
}

#container-5 {
  grid-column-start: 3;
  grid-row-start: 3;
}

#container-6 {
  grid-column-start: 4;
  grid-row-start: 3;
}

#container-7 {
  grid-column-start: 2;
  grid-row-start: 4;
}

#container-8 {
  grid-column-start: 3;
  grid-row-start: 4;
}

#container-9 {
  grid-column-start: 4;
  grid-row-start: 4;
}

#display {
  background-color: #2e4057;
  border-left: 3px groove lightgrey;
  display: grid;
  grid-template-columns: 0.5% 33% 33% 33% 0.5%;
  grid-template-rows: 0.5% 33% 33% 33% 0.5%;
  padding: 0.5vh 0.5vw;
}

#freiburg {
  height: 60%;
  width: 90%;
}

#gladbach {
  height: 75%;
  width: 60%;
}

#hamburg {
  height: 70%;
  width: 90%;
}

#hoffenheim {
  width: 80%;
}

#leverkusen {
  height: 60%;
  width: 95%;
}

#rb-leipzig {
  height: 55%;
  width: 100%;
}

#root-container {
  display: grid;
  grid-template-columns: minmax(215px, 15vw) 85vw;
  height: 100vh;
}

#selectors {
  display: grid;
  grid-template-columns: 38% 38% 24%;
  padding-bottom: 1vh;
  text-align: center;
}

#selectors div {
  font-size: 1.2em;
  margin: 0 auto;
}

#selectors div:nth-of-type(1) select {
  width: 90%;
}

#selectors div:nth-of-type(2) select {
  width: 50%;
}

#sidebar {
  background-color: #e40f00e7;
  display: flex;
  flex-direction: column;
  font-family: 'Germania One', serif;
  height: 100vh;
  overflow: hidden;
}

#stuttgart {
  width: 70%;
}
