body {
  margin: 0;
}

.even-game {
  background-color: #EEEEEE;
}

.game {
  border: 3px outset rgb(170, 170, 170);
  border-radius: 10px;
  margin: 0.3vh 0.2vw;
}

.game:hover {
  border-style: inset;
}

.odd-game {
  background-color: #CCCCCC;
}

#bundesliga-logo {
  padding-top: 2vh;
  width: 100%;
}

#container-1 {
  grid-column-start: 2;
  grid-row-start: 2;
}

#container-2 {
  grid-column-start: 3;
  grid-row-start: 2;
}

#container-3 {
  grid-column-start: 4;
  grid-row-start: 2;
}

#container-4 {
  grid-column-start: 2;
  grid-row-start: 3;
}

#container-5 {
  grid-column-start: 3;
  grid-row-start: 3;
}

#container-6 {
  grid-column-start: 4;
  grid-row-start: 3;
}

#container-7 {
  grid-column-start: 2;
  grid-row-start: 4;
}

#container-8 {
  grid-column-start: 3;
  grid-row-start: 4;
}

#container-9 {
  grid-column-start: 4;
  grid-row-start: 4;
}

#display {
  background-color: lightgrey;
  display: grid;
  grid-template-columns: .5% 33% 33% 33% .5%;
  grid-template-rows: .5% 33% 33% 33% .5%;
  padding: 0.5vh 0.5vw;
}

#root-container {
  display: grid;
  grid-template-columns: 15vw 85vw;
  height: 100vh;
}

#sidebar {
  background-color: rgba(216, 20, 20, 0.808);
}
